<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<label for="create">Create memo: </label>
<form id="create" name="create" method="GET" action="/create">
  <label for="try">Click here to create memo: </label>
  <input type="submit" name="try" id="try"/>
</form>
<h1>Memos</h1>

{% if g.memos %}
    {% for memo in g.memos %}
  <div class="memo">
  <div class="row">
  <div class="col-md-2">
    {{ memo.date | humanize }}
  </div>
  <div class="col-md-10">
    {{ memo.text }}
  </div>
  <!--<div class="delbutton">
    <button id="delete_button">
      <input value="{{g.token}}" type="hidden" name="submit" id="submit"></input>
    </button>
  </div>  delbutton -->
  <div class="delete_button">
  <form method="POST" action="/_delete" id="delete" name="delete">
    <input type="hidden" value="{{memo.token}}" name="hiddenToken"/>
    <label for="submit">Click to delete:</label>
    <input type="submit" name="submit" id="submit"/>
  </form>
  </div><!-- deletebutton -->
  </div> <!-- row -->
  </div> <!-- memo -->
  {% endfor %}
{% else %}
  <p>No memos for you. </p>
{% endif %}



</div> <!-- container -->
<script>
//script for putting in new memos and deleting old memos
    var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var JSON_URL = SCRIPT_ROOT + "/_handleJSON";
    /*$("#delete_button").click(function(){
      var token = $("#submit").val();
      $.getJSON(JSON_URL, {token: token});
    });*/
    //need the variables to transfer back to flask

</script>
</body>
</html>
